@import './../../../mixin.scss';

h1 {
    color: darkred;
    margin-top: 3%;
    font-size: 42px;
}

section {
    height: 40vh;
    width: 100%;
    @include dFlex($fd: column, $jc: none);
    margin-bottom: 3%;

    >div {
        width: 100%;
        @include dFlex($jc: space-evenly);
        margin-top: 7%;

        >div {
            @include dFlex($fd: column);

            >img {
                height: 64px;
                width: 64px;
            }

            >p {
                font-size: 28px;
                width: 100%;
                @include dFlex();
            }
        }
    }
}