<section>
    <h1 class="fontRaleway">
        HOW TO ORDER
    </h1>
    <div class="food-img">
        <div>
            <img src="./assets/img/bowl_icon.jpg" alt="noodle">
            <p class="fontRaleway">Pick your</p>
            <p class="fontRaleway">noodle</p>
        </div>
        <div>
            <img src="./assets/img/broth_icon.png" alt="soup">
            <p class="fontRaleway">Pick your</p>
            <p class="fontRaleway">broth</p>
        </div>
        <div>
            <img src="./assets/img/eggs_icon.jpg" alt="eggs">
            <p class="fontRaleway">Add your</p>
            <p class="fontRaleway">toppings</p>
        </div>
    </div>
</section>