nav {
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    >img {
        width: 64px;
        height: 64px;
    }
    >div {
        display: flex;
        position: absolute;
        right: 32px;
        top: 45px;
        >a {
            &:hover {
                color: red;
            }
        }
    }
}

a {
    text-decoration: none;
    color: white;
    padding: 12px;
    cursor: pointer;
}

.phone-btn {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border-color: white;
    border-style:groove;
    background-color: darkred;
    padding-left: 8px;
    margin-left: 11px;
    >img {
        width: 32px;
        height: 32px;
    }
    >a {
        padding: 8px;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
}

.img-flower {
    position: absolute;
    left: 32px;
    top: 32px;
}