@import './../../../mixin.scss';

h1 {
    color: darkred;
    margin-top: 3%;
    font-size: 42px;
}

h3 {
    font-size: 20px;
}

section {
    background-image: url('./../../../assets/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100vh;
    width: 100%;
    @include dFlex($fd: column, $jc: none);

    >div {
        @include dFlex($jc: space-evenly);
        margin-top: 4%;
        width: 40%;

        >img {
            width: 180px;
            height: 180px;
        }

        >div {
            width: 30%;
            @include dFlex($jc: space-between, $ai: none);
        }
    }
}

.prices {
    padding-top: 22px;
}