<section>
    <h1 class="fontRaleway">
        OUR MENU
    </h1>
    <div>
        <img src="./assets/img/r1.png" alt="ramen">
        <div>
            <div>
                <h3 class="fontRaleway">
                    Ramen
                </h3>
                <p class="fontRaleway">CHICKEN</p>
                <p class="fontRaleway">BEEF</p>
                <p class="fontRaleway">SHRIMP</p>
            </div>
            <div>
                <p class="fontRaleway prices">11,95€</p>
                <p class="fontRaleway">12,95€</p>
                <p class="fontRaleway">13,95€</p>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h3 class="fontRaleway">
                    Ramen
                </h3>
                <p class="fontRaleway">CHICKEN</p>
                <p class="fontRaleway">BEEF</p>
                <p class="fontRaleway">SHRIMP</p>
            </div>
            <div>
                <p class="fontRaleway prices">11,95€</p>
                <p class="fontRaleway">12,95€</p>
                <p class="fontRaleway">13,95€</p>
            </div>
        </div>
        <img src="./assets/img/r2.png" alt="ramen">
    </div>
    <div>
        <img src="./assets/img/r3.png" alt="ramen">
        <div>
            <div>
                <h3 class="fontRaleway">
                    Ramen
                </h3>
                <p class="fontRaleway">CHICKEN</p>
                <p class="fontRaleway">BEEF</p>
                <p class="fontRaleway">SHRIMP</p>
            </div>
            <div>
                <p class="fontRaleway prices">11,95€</p>
                <p class="fontRaleway">12,95€</p>
                <p class="fontRaleway">13,95€</p>
            </div>
        </div>
    </div>
</section>